
 @media screen and (max-width: 500px) and (min-width: 300px) {
  body{background-color: black;
  color: aliceblue;
  }
  th:hover{height: 10px;}
 
} 

  th:hover {
   font-size: 50px;
    color: rgb(255, 0, 0);
    font-style:oblique;
    height: auto;
    width: auto;
  
  }
p {font-size: 10px;
  
}


